---
interface Props {
  src?: string;
}

const { src } = Astro.props;
---

<div
  class={`relative bg-fixed bg-cover bg-center bg-no-repeat h-96 flex flex-col justify-center items-center`}
  style={{ backgroundImage: `url('${src}')` }}
>
  <slot />
</div>
