---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import About from '~/components/About.astro';
import Team from '~/components/Team.astro';
import Services from '~/components/Services.astro';
import Homepage from '~/components/Homepage.astro';
import Schedule from '~/components/Schedule.astro';
import Gallery from '~/components/Gallery.astro';
import Contacts from '~/components/Contacts.astro';
import Parallax from '~/components/widgets/Parallax.astro';
import Products from '~/components/Products.jsx';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <Homepage />
  <About />
  <Parallax src="/images/parallax-1.jpg" className="h-52 sm:96">
    <div class="absolute inset-0 bg-black/40"></div>
  </Parallax>
  <Team />
  <Schedule />
  <Services />
  <Gallery />
  <div class="animation">
    <Products client:only="react" />
  </div>
  <Contacts />
</Layout>
