---
import { Image } from '@astrojs/image/components';
import CTA from './common/CTA.astro';

export const prerender = true;
const IMAGE_SIZE = 500;
---

<div
  class="relative bg-[url('/images/salon.jpg')] bg-cover bg-center bg-no-repeat h-screen flex flex-col justify-center items-center"
>
  <div class="absolute inset-0 bg-black/75"></div>
  <Image
    src="/images/homepage-logo.png"
    class="animation"
    width={IMAGE_SIZE}
    height={IMAGE_SIZE}
    alt="Barber Studio"
    format="png"
  />
  <h1 class="hidden">Barber Studio</h1>
  <div
    data-delay={500}
    data-animation="fade-in"
    class="animation relative w-full z-1 text-center -translate-y-11 opacity-0"
  >
    <CTA dark />
  </div>
</div>

<script></script>
