---
import CTA from './common/CTA.astro';
import ServiceCard from './common/ServiceCard.astro';
---

<div class="section" id="serviços">
  <div class="w-full">
    <h2
      data-animation="fade-in"
      class="animation text-5xl font-semibold leading-tighter mb-14 md:mb-36 font-heading text-red-800 dark:text-orange-200 text-center tracking-wider"
    >
      Serviços & Preços
    </h2>
    <div class="max-w-sm md:max-w-7xl mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-3 md:divide-x-[1px] divide-zinc-700">
        <div class="animation" data-delay="400">
          <ServiceCard
            icon="/images/icons/scissor.png"
            title="Corte de cabelo"
            description="Corte de cabelo simples para começares a semana com estilo."
            price={13}
          />
        </div>
        <div class="animation" data-delay="600">
          <ServiceCard
            icon="/images/icons/beard.png"
            title="Barba"
            description="Corte de cabelo simples para começares a semana com estilo."
            price={10}
          />
        </div>
        <div class="animation" data-delay="800">
          <ServiceCard
            icon="/images/icons/beard-oil.png"
            title="barba + massagem facial"
            description="Corte de cabelo simples para começares a semana com estilo."
            price={18}
          />
        </div>
      </div>
      <div data-animation="fade-in" data-delay={1200} class="animation text-center mt-0 md:mt-24">
        <CTA />
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  .section {
  }
</style>
