---
---

<div class="section">
  <div class="w-full">
    <h2
      class="text-5xl md:text-6xl font-semibold leading-tighter tracking-tighter mb-4 font-heading dark:text-orange-200 text-center"
    >
      Equipa
    </h2>
  </div>
</div>

<style></style>
