---
import Card from './common/Card.astro';
---

<div class="section" id="equipa">
  <div class="w-full">
    <h2
      data-delay={300}
      data-animation="fade-in"
      class="animation text-5xl font-semibold leading-tighter mb-14 md:mb-36 font-heading text-red-800 dark:text-orange-200 text-center tracking-wider"
    >
      Equipa
    </h2>
    <div class="flex flex-wrap md:flex-nowrap justify-center gap-12 md:gap-48">
      <div data-delay={300} class="animation">
        <Card
          image="/images/raquel.png"
          icon="/images/icons/female-skull.png"
          title="Raquel Nunes"
          description="Ace of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock."
        />
      </div>
      <div data-delay={500} class="animation">
        <Card
          image="/images/male.jpg"
          icon="/images/icons/male-skull.png"
          title="Henrique Matias"
          description="Ace of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock."
        />
      </div>
    </div>
  </div>
</div>

<style></style>
