---
import Card from './common/Card.astro';
---

<div class="section">
  <div class="w-full">
    <h2
      class="text-5xl font-semibold leading-tighter mb-36 font-heading dark:text-orange-200 mb-20 text-center tracking-wider"
    >
      Equipa
    </h2>
    <div class="flex flex-wrap md:flex-nowrap justify-center gap-20">
      <Card
        image="src/assets/images/raquel.png"
        icon="src/assets/images/icons/female-skull.png"
        title="Raquel Nunes"
        description="Ace of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock."
      />
      <Card
        image="src/assets/images/male.jpg"
        icon="src/assets/images/icons/male-skull.png"
        title="Henrique Matias"
        description="Ace of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock."
      />
    </div>
  </div>
</div>

<style></style>
